.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    
    .logo-container {
        width: 70px;
        height: 100%;
        padding: 25px;

        .logo {
            width: 100%;
            height: 100%;
        }
    }

    .options {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .option {
            padding: 10px 15px;
        }

        .contact {
            padding: 10px 15px;
        }
    }
}